<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tab d'Accueil -->
  <ion-tab title="Accueil" icon-off="ion-ios-home" icon-on="ion-ios-home-outline" href="#/tab/accueil">
    <ion-nav-view name="tab-accueil"></ion-nav-view>
  </ion-tab>

  <!-- Tab Pb Sur Véhicule -->
  <ion-tab title="Pb Véhicule" icon-off="ion-social-freebsd-devil" icon-on="ion-social-freebsd-devil" href="#/tab/pbvehic">
    <ion-nav-view name="tab-pbvehic"></ion-nav-view>
  </ion-tab>

  <!-- Tab Saisie de KM Véhicule -->
  <ion-tab title="Saisie Km" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/saisiekm">
    <ion-nav-view name="tab-saisiekm"></ion-nav-view>
  </ion-tab>

  <!-- Tab Reporting des saisies ou des états véhicules -->
  <ion-tab title="Reporting" icon-off="ion-ios-paper" icon-on="ion-ios-paper-outline" href="#/tab/reporting">
    <ion-nav-view name="tab-reporting"></ion-nav-view>
  </ion-tab>


  <!-- Tab de parametres -->
  <ion-tab title="Paramètres" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/paramappli">
    <ion-nav-view name="tab-paramappli"></ion-nav-view>
  </ion-tab>


</ion-tabs>
